@import url('https://rsms.me/inter/inter-ui.css');

body {
    font-family: 'Inter UI', sans-serif;
    font-weight: 400;
    font-size: 3vh;
    line-height: 1.5;
    background-color: #fafafa;
}

p {

}

.text {
    z-index: 1;
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 10%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    pointer-events: none;
}

canvas {
    vertical-align: bottom;
    z-index: 10;
    /* ghostly blue */
    /* filter: blur(6px) sepia(110%) brightness(100%) contrast(160%) hue-rotate(170deg);   */
    /* summer melty warm */
    filter: blur(4px) sepia(0%) brightness(120%) contrast(200%) hue-rotate(80deg);    
}

/* prevent inertial scroll on mobile */
html, body {
    position: fixed;
}